@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.product-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   align-items: center;
}

.product-top{
    display: flex;
    justify-content: space-between; /* Espaço entre as divs */
    max-width: 1800px;
    gap: 50px; /* Espaço entre as divs */
    flex-wrap: wrap; /* Permite que as divs quebrem linha se necessário */
margin-left: 20px;
}


.img-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 45%; /* Garante que a div não fique muito pequena */
    
}

.product-info{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 45%; /* Garante que a div não fique muito pequena */
}


.carousel-img{
    width: 600px;
    height: 600px;
    border: 1px solid #e7e7e7;
    border-radius: 15px;
    margin-right: 100px; 
    object-fit: contain; 
    max-height: 600px;
    margin-bottom: 60px;
    background-color: #ffffffc2;
}


.product-info h1{
    font-family: "Lato", sans-serif;
    font-weight: 350;
    font-size: 40px;
    font-style: light;
    margin-bottom: 15px;
}

.product-info h2{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: light;
    margin-bottom: 15px;
    font-size: 30px;

}

.product-info h3{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 0px;
    font-size: 22px;
}

.product-info p{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
    font-size: 22px;
}

.product-bottom-left ul{
    font-size: 25px;
}

.product-bottom-left h3{
    font-size: 25px;
    margin-top: 60px;
}
.badge {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    width: 50px;
  }
  
  .badge-novo {
    background-color: rgb(51, 51, 202);
    color: white;
  }
  
  .badge-usado {
    background-color: rgb(213, 216, 24);
    color: black;
  }


.buttons-container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem
}

.buy-now {
    margin-top: 30px;
    display: inline-flex; 
    align-items: center; 
    background-color: #f0c32f; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    font-size: 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    text-transform: uppercase;
    border: none;
    transition: background-color 0.3s, transform 0.3s ease;
    width: 280px; /* Define a largura automática */
    white-space: nowrap; /* Impede a quebra de linha no texto */
    margin-bottom: 1rem;
}

.buy-now:hover {
    transform: scale(1.1);
}

.add-to-cart{
    margin-top: 30px;
    display: inline-flex; 
    align-items: center; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    font-size: 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    border-color: black;
    text-transform: uppercase;
}

.add-to-cart:hover{
    background-color: #000000;
    color: #ffffff;
}



.product-bottom-left{
    width: 40%;
    margin-top: -75px;
    margin-left: 25px;
}

.product-bottom-right{
    width: 50%;
}

.product-bottom p{
    font-size: 20px;
}

.duvidas{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-style: light;
}

.button-duvidas button{
    display: inline-flex; 
    align-items: center; 
    background-color: #ffffff; 
    color: rgb(0, 0, 0); 
    padding: 10px 20px; 
    font-size: 20px; 
    border-radius: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    border-color: black;
    margin-bottom: 100px;
    
  }

  .button-duvidas button:hover{
    background-color: #000000;
    color: #ffffff;
  }

  @media (max-width: 1200px) {

.product-top, .img-container{
    width: 100%;

}


.product-bottom-left, .product-bottom-right{
    width: 100%;
}



.product-bottom{
display: flex;
flex-direction: column;
align-items: center;

}

.product-info h1{
    font-size: 35px;
}



  }

  @media (max-width: 600px) {
    
    .carousel-img{
        width: 370px;
        height: 370px;
    }

    .product-bottom-left{
        margin-top: -5px;
        margin-left: 20px;

    }
    .product-bottom-left p{
        margin-left: 10px;
        margin-top: -5px;

    }

    .product-info p, h3{
        margin-left: 10px;
        max-width: 300px;
    }

    .product-bottom-left ul{
        font-size: 23px;
    }
    
    .product-bottom-left h3{
        font-size: 22px;
        margin-top: 15px;
    }

  }

  @media (max-width: 500px) {
    
    .mini-img-container{
        display: flex;
        max-width: 300px;
    }

    .main-img-p{
        width: 390px;
    }
    
    .product-info h1{
    font-size: 35px;
    }

    .product-info{
        margin-top: -20px;
    }

    
.product-info h3{
    margin-left: 10px;
}



    .product-info p, h3{
        margin-left: 10px;
        max-width: 300px;
    }
  }