@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.Aproduct-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Aproduct-container img{
  width: 100%;          /* Ajusta a largura da imagem para o tamanho do contêiner */
    height: 200px;        /* Define uma altura fixa para todas as imagens */
    object-fit: contain;    /* Garante que a imagem preencha o contêiner sem distorcer */
    object-position: center; /* Centraliza a imagem dentro do contêiner */
    border-radius: 10px; /* Arredonda as bordas da imagem */
}

.name{
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    padding-bottom: -1rem;
    margin: 0;
}



.see_more_container{
display: flex;
flex-direction: column;
padding: 4rem 2rem ;
background-color: brown;
}
.see_more_container{
    text-decoration: none;
}

.edit-btn {
background-color: #ffffff; 
  color: rgb(0, 0, 0); 
  padding:10px 50px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 12px; 
  transition: background-color 0.3s; 
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  border-color: black;
  margin-bottom: 5px;
}

.delete-btn {
    background-color: #000000; 
  border: none; 
  color: rgb(255, 255, 255); 
  padding:10px 45px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 12px; 
  transition: background-color 0.3s; 
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}


.product-container button:hover {
    background-color: #f1bb32; 
  }